* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	color: #aaa;
	background: #444;
}
p {
	margin: 0;
	padding: 0;
}

.mbta {
	position: relative;
	margin-top: 40px;
}

.stop {
	/*position: absolute;*/
	top: 20px;
	width: 480px;
	/*border-radius: 15px;*/
}

.stopName {
	color: #eee;
	text-align: center;
}

.langdon {
	left: 60px;
	float: left;
}
.dennis {
	right: 60px;
	float: right;
}

.pic {
	width: 240px;
	float: left;
}

.minutes {
	width: 140px;
	height: 140px;
	margin-left: 20px;
	float: left;
	border-radius: 70px;
	color: white;
	padding-top: 25px;
}

.minutes span {
	font-size: 3em;
}
.bus {
	margin-bottom: 60px;
}
.bus p {
	text-align: center;
}
.bus p.text {
	padding-top: 10px;
	clear: both;
}
.prox1 {
	background: #D53E4F;
}
.prox2 {
	background: #FC8D59;
}
.prox3 {
	background: #FEE08B;
}
.prox4 {
	background: #99D594;
}
.prox5 {
	background: #3288BD;
}

.instructions {
	clear: both;
	color: #FEE08B;
	font-size: 2em;
	text-align: center;
	margin: 0 auto;
	width: 400px;
}

.spanish, .portuguese {
	display: none;
}