.mbta {
	position: relative;
	margin-top: 40px;
	display: none;
}

.stop {
	/*position: absolute;*/
	top: 20px;
	width: 480px;
	/*border-radius: 15px;*/
}

.stopName {
	color: #555;
	text-align: center;
}

.langdon {
	left: 60px;
	float: left;
}
.dennis {
	right: 60px;
	float: right;
}

.pic {
	width: 240px;
	float: left;
}

.minutes {
	width: 140px;
	height: 140px;
	margin-left: 20px;
	float: left;
	border-radius: 70px;
	color: white;
	padding-top: 25px;
}

.minutes span {
	font-size: 3em;
}
.bus {
	margin-bottom: 60px;
}
.bus p {
	text-align: center;
}
.bus p.text {
	padding-top: 10px;
	clear: both;
}
.prox1 {
	background: #D53E4F;
}
.prox2 {
	background: #FC8D59;
}
.prox3 {
	background: #FEE08B;
}
.prox4 {
	background: #99D594;
}
.prox5 {
	background: #3288BD;
}

.touchLeft {
	position: absolute;
	/*top: 100%;
	right: 10%;*/
	top: 100%;
	left: 0;
}

.touchRight {
	position: absolute;
	top: 100%;
	right: 0;
}
.languages {
	position: absolute;
	top: 0;
	right: 0;
}

.spanish, .portuguese {
	display: none;
}

.slideshow {
	width: 720px;
	margin: 0 auto;
}

.slideshow img {
	display: none;
}
